@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main class="main-content">
        @* ... top-row ... *@

        <article class="content px-4">
            @Body
        </article>

        <footer class="footer-sistema">
            Desenvolvido Pela Delta Sistemas | Todos os direitos reservados © 2025
        </footer>
    </main>
</div>