@page "/home"
<h1>Sistema Delta Helpdesk</h1>
<p>
    Esta aplicação foi desenvolvida integralmente em <b>ASP.NET Core Blazor WebAssembly</b>, com C#,
    para garantir uma experiência web moderna, responsiva e multiplataforma.
</p>
<ul>
    <li><b>Frontend:</b> Blazor (ASP.NET, C# e Razor)</li>
    <li><b>Backend:</b> API .NET Core RESTful</li>
    <li><b>Web responsiva:</b> Estilização via Bootstrap e componentes Blazor para adaptação em qualquer dispositivo</li>
</ul>
<p>
    O sistema permite registrar, acompanhar e solucionar chamados, conta com dashboards, notificações, autenticação e relatório, tudo em web!
</p>
